<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient : Register</title>
</head>
<body>
    <h1>Patient Register</h1>
    <p><%= msg %></p>
    <form action="/patientRegister" method="post" enctype="multipart/form-data">
        <label for="profilePicture">Profile Picture: </label>
        <input type="file" name="profilePicture" id="profilePicture" required>
        <br>
        <label for="firstname">Firstname: </label>
        <input type="text" name="firstname" id="firstname" required>
        <br>
        <label for="lastname">Lastname: </label>
        <input type="text" name="lastname" id="lastname" required>
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <br>
        <label for="gender">Gender: </label>
        <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br>
        <label for="title">Title: </label>
        <select name="title" id="title">
            <option value="Mr.">Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Master.">Master.</option>
            <option value="Miss.">Miss.</option>
        </select>
        <br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>
        <br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/patientLogin">Login</a></p>
</body>
</html>