<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor : Profile</title>
</head>
<body>
    <h1>Doctor Profile</h1>
    <form action="/logout/doctor">
        <input type="submit" value="LOGOUT">
    </form>
    <a href="/patientsD">Patients</a>
    <a href="/schedules/<%= id %>">Schedules</a>
</body>
</html>